@afterpaytouch:registry=https://nexus.corp.afterpay.com/repository/npm-internal/
@afterpay:registry=https://nexus.corp.afterpay.com/repository/npm-internal/
@arcade:registry=https://artifactory.global.square/artifactory/api/npm/npm-internal/
@squareup:registry=https://artifactory.global.square/artifactory/api/npm/npm-internal/
registry=https://artifactory.global.square/artifactory/api/npm/square-npm/
always-auth=true
